Last login: Tue Jan 15 21:35:58 on ttys001
Donalds-MacBook-Pro:~ dlargen$ pwd
/Users/dlargen
Donalds-MacBook-Pro:~ dlargen$ cd work
Donalds-MacBook-Pro:work dlargen$ cd dibit
Donalds-MacBook-Pro:dibit dlargen$ ls -la
total 64
drwxr-xr-x  23 dlargen  staff   736 Jan 23 19:17 .
drwxr-xr-x  43 dlargen  staff  1376 Jan 23 19:19 ..
-rw-r--r--@  1 dlargen  staff  8196 Jan 23 19:43 .DS_Store
drwxr-xr-x  13 dlargen  staff   416 Jan 23 19:43 .git
-rw-r--r--   1 dlargen  staff  2518 Oct  9 12:59 .gitattributes
-rw-r--r--   1 dlargen  staff  4331 Oct  9 12:59 .gitignore
drwxr-xr-x   4 dlargen  staff   128 Oct 18 15:00 .vs
drwxr-xr-x   3 dlargen  staff    96 Oct  9 12:59 AdminCustomerMvc
drwxr-xr-x  23 dlargen  staff   736 Jan 23 19:16 AdminMvc
drwxr-xr-x   5 dlargen  staff   160 Jan 10 13:37 AppSettings
drwxr-xr-x  32 dlargen  staff  1024 Jan 23 19:17 ApplicationServices
drwxr-xr-x  10 dlargen  staff   320 Jan 23 19:17 Common
drwxr-xr-x   8 dlargen  staff   256 Jan 23 19:17 DataAccess
-rw-r--r--   1 dlargen  staff  6583 Oct  9 12:59 Dibit.sln
drwxr-xr-x  49 dlargen  staff  1568 Jan 23 19:17 DomainModel
drwxr-xr-x   6 dlargen  staff   192 Oct 18 15:00 SendCfpReportEmails
drwxr-xr-x   6 dlargen  staff   192 Oct 18 15:00 SendMarketplaceSaleEmails
drwxr-xr-x   8 dlargen  staff   256 Jan 13 19:55 Tests
drwxr-xr-x   6 dlargen  staff   192 Oct 18 15:00 UpdatePerformerExperiencePriceTrends
drwxr-xr-x  20 dlargen  staff   640 Jan 23 19:17 WebApi
drwxr-xr-x  15 dlargen  staff   480 Nov  8 12:48 Website
drwxr-xr-x  16 dlargen  staff   512 Jan 23 19:13 Website-CFP
drwxr-xr-x  14 dlargen  staff   448 Nov 29 11:18 Website-EFL
Donalds-MacBook-Pro:dibit dlargen$ textmate .gitignore
-bash: textmate: command not found
Donalds-MacBook-Pro:dibit dlargen$ vi .git
.git/           .gitattributes  .gitignore      
Donalds-MacBook-Pro:dibit dlargen$ vi .gitignore

## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot


**/wwwroot/lib


